.btn--main {
  background-color: #fa694e;
  color: #fff;
}

.btn--main:hover {
  background-color: #e75137;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Montserrat";
}

.header-bg {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/cafeteria dark.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/cafeteria dark.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.my__navbar {
  background-color: transparent;
  width: 100%;
}

.my__navbar:hover {
  cursor: pointer;
}

.my__logo {
  width: 57px;
  height: 57px;
}

.my__ham {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  background-color: #fcfcfc;
  padding: 5px 10px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.my__ham {
  color: #000;
  font-size: 30px;
  position: fixed;
  top: 14px;
  right: 30px;
  z-index: 999;
}

.my__hidden-nav {
  display: none;
  background-color: #e75137;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1;
  width: 200px;
  height: 100vh;
  text-align: center;
  padding: 5px;
  padding-top: 80px;
}

.hero {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__heading {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 40px;
}

.hero__sub {
  font-size: 16px;
  margin-bottom: 30px;
  width: 50%;
  text-align: center;
}

.hero__btn {
  background-color: #fa694e;
  color: #fff;
}

.hero__btn:hover {
  background-color: #e75137;
  color: #fff;
}

.features {
  margin-top: 100px;
  margin-bottom: 100px;
}

.features .container {
  max-width: 1000px;
}

.features-card {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.features-card__icon {
  width: 80px;
  height: 80px;
  margin: auto;
  border-radius: 50%;
  border: 1px solid #fa694e;
  font-size: 30px;
  color: #fa694e;
  margin-bottom: 25px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-card__title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}

.story {
  background-color: #fbfbfb;
  height: 500px;
}

.story__header {
  margin-top: 80px;
  margin-bottom: 90px;
}

.story__title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.story__title--sm {
  font-size: 20px;
  margin-bottom: 40px;
}

.story__text {
  font-family: "Lora";
}

.story__cta {
  margin-top: 40px;
}

.story__gallery {
  margin-top: 80px;
}

.story__gallery-item-inner {
  position: relative;
}

.story__gallery-item:nth-of-type(n + 4) {
  margin-top: 30px;
}

@media only screen and (max-width: 991px) {
  .story__gallery-item:nth-of-type(n + 3) {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .story__gallery-item:nth-of-type(n + 2) {
    margin-top: 30px;
  }
}

.story__gallery-item:hover {
  cursor: pointer;
}

.story__gallery-item:hover .story__gallery-icon {
  opacity: 1;
}

.story__gallery-thumb {
  width: 100%;
}

.story__gallery-icon {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: inline-block;
  opacity: 0;
  width: 100%;
  margin: auto;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.story__gallery-icon div {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fa694e;
}

.story__gallery-icon div i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
}

.features .card {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 10px 0;
}

.features .card:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card:hover .features-card__icon {
  color: #fff;
  background-color: #fa694e;
  border-color: transparent;
}
